<div class="container">
  <h2>Adicionar Pagamento</h2>

  <%= simple_form_for @expense_payer, url: group_expense_payers_path(@group) do |f| %>
    <%= f.input :description, label: "Descrição" %>
    <%= f.input :paid_amount, label: "Valor", input_html: { type: "number", step: "0.01" } %>
    <%= f.input :receiver_id, label: "Recebedor", collection: @users, as: :select, include_blank: false, label_method: :name, value_method: :id %>

    <%= f.button :submit, "Adicionar Pagamento" %>
  <% end %>
</div>
