<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div class="group-form-modal">

        <h2>Adicionar Pagamento</h2>

        <%= simple_form_for @expense_payer, url: group_expense_payers_path(@group) do |f| %>
          <%= f.input :description, label: "Descrição", input_html: { class: "input-new-expense" } %>
          <div class="expense-pattern-lightblue">
            <div class="expense-pattern-darkblue">
              <%= f.label "R$" %>
            </div>
            <div class="mb-0 w-100">
              <%= f.input :paid_amount, step: 0.01, label: false, input_html: { class: "input-new-expense" } %>
            </div>
          </div>
          <%= f.input :date, as: :string, label: false, input_html: { data: { controller: "datepicker", datepicker_target: "input" }, placeholder: "Selecione a data..." } %>
          <%= f.input :receiver_id, label: "Recebedor", collection: @users, as: :select, include_blank: false, label_method: :name, value_method: :id %>
          <%= f.button :submit, "SALVAR", class: "btn create-button-new" %>
        <% end %>

      </div>

    </div>
  </div>
</div>
