<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="group-edit-modal">
                <h3> Personalize o seu grupo adicionando uma Foto, Nome e Descrição </h3>
                <hr class="w-100">

                <div>
                    <%= simple_form_for @group, html: { data: { controller: "invite" } } do |f| %>
                        <%= f.error_notification %>
                        
                        <% if @group.photo.attached? %>
                            <%= image_tag @group.photo, class: "group-edit-image" %>
                        <% else %>
                            <%= image_tag "placeholder-image.png", class: "group-edit-image" %>
                        <% end %>
                    
                        <div class="mt-4">
                            <%= f.input :photo, as: :file, label: "Envie sua imagem no botão abaixo", input_html: { accept: "image/*", class: "group-edit-input" } %>
                        </div>

                        <div class="mt-4">
                            <%= f.input :name_group, label: "Digite o nome do Grupo", input_html: { class: "group-edit-input" } %>
                        </div>
            
                        <div class="mt-4 mb-4">
                            <%= f.input :description_group, label: "Adicione uma descrição para o Grupo", input_html: { class: "group-edit-input" } %>
                        </div>

                        <hr>

                        <div class="form-group mt-4">
                            <label for="member-email">Adicionar membro</label>
                            <input type="email" id="member-email" class="form-control group-input-edit" placeholder="Insira o email do usuário" data-invite-target="email" />
                            <button type="button" data-action="click->invite#addMember" class="btn btn-addmember-edit mt-2">Adicionar membro</button>
                        </div>
        
                        <div id="added-members" data-invite-target="addedMembers" class="mt-4"></div>
                            <%= hidden_field_tag :invite_emails, "", id: "hidden-invite-emails", data: { invite_target: "hiddenInviteEmails" } %>
        
                            <%= f.button :submit, "Salvar Alterações", class: "btn btn-group-edit-save w-100" %>
                        </div>


                        
                    <% end %>
                </div>
            </div>

            <div class="image-logo-container">
                <%= image_tag("logo.png", class: "image-logo") %>
            </div>


        </div>
    </div>
</div>