<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 modal-index-wrapper">
      <%= image_tag("bg/cactus.png", :class => "bg-cactus") %>
      <div class="modal-groups">

        <% if @groups.any? %>
          <h4 class="title-group">Toque no botão para criar seu primeiro grupo</h4>
          <%= link_to "CRIAR GRUPO", new_group_path, class: "btn create-group-button" %>
          <hr class="hr-create-group">
          <h4>Seus Grupos</h4>
          <div class="group-list">
            <% @groups.each do |group| %>
                <%= link_to group_path(group) do %>
                  <div class="group-item">
                    <div class="group-foto">
                      <% if group.photo.attached? %>
                        <%= image_tag group.photo, class: "group-image" %>

                      <% else %>
                        <%= image_tag "placeholder-image.png", class: "group-image" %>
                      <% end %>
                    </div>
                    <div class="group-details group-details-text">
                      <%= group.name_group.capitalize %>
                    </div>
                  </div>
                <% end %>

            <% end %>
          </div>

        <% else %>
          <div class="without-group">
            <%= link_to "Criar Grupo", new_group_path, class: "btn create-group-button" %>
          </div>
        <% end %>


      </div>
      <div class="image-logo logo-footer">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
</div>
