<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="modal-groups">
        <h4>Personalize o seu grupo adicionando uma Foto, Nome e Descrição.</h4>

        <%= simple_form_for @group, url: groups_path, method: :post, html: { data: { controller: "invite" } } do |f| %>
          <div class="text-center mb-4">
            <div class="group-photo-placeholder">
              <%= image_tag "placeholder-image.png", class: "group-show-image" %>
            </div>
            <%= f.input :photo, as: :file, label: false, input_html: { accept: "image/*" } %>
          </div>

          <div class="group-pattern-lightblue">
            <div class="mb-0 w-100">
              <%= f.input :name_group, label: false, input_html: { placeholder: "Digite o nome do Grupo", class: "input-new-group" } %>
            </div>
            <div class="group-pattern-darkblue">
              <i>✎</i>
            </div>
          </div>

          <div class="group-pattern-lightblue">
            <div class="mb-0 w-100">
              <%= f.input :description_group, label: false, input_html: { placeholder: "Adicione uma descrição para o Grupo", class: "input-new-group" } %>
            </div>
            <div class="group-pattern-darkblue">
              <i>✎</i>
            </div>
          </div>



          <hr>

          <div class="form-group mt-4">
            <label for="member-email">Adicionar membro</label>
            <input type="email" id="member-email" class="input-new-group no-border" placeholder="Insira o email do usuário" data-invite-target="email" />
            <button type="button" data-action="click->invite#addMember" class="btn btn-addmember mt-4 w-100">ADICIONAR MEMBRO</button>
          </div>

          <div id="added-members" data-invite-target="addedMembers" class="mt-4 mb-3"></div> <!-- Adiciona data-target aqui -->
          <%= hidden_field_tag :invite_emails, "", id: "hidden-invite-emails", data: { invite_target: "hiddenInviteEmails" } %> <!-- Adiciona data-target aqui -->

          <%= f.button :submit, "SALVAR E CRIAR", class: "btn create-button-new w-100" %>
        <% end %>
      </div>


      <div class="image-logo logo-footer-ng">
        <%= image_tag("logo.png", class: "image-logo")%>
      </div>
    </div>
  </div>
</div>
