<div class="container bg-do-ed" style="background-image: url(<%= asset_path("BallAndCactus2.png") %>)">
  <div class="row justify-content-center group-show-modal-invisivel">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">

      <div class="group-show-modal-header">
        <%= image_tag("icons/ElementGreen.png", class: "bg-show-modal") %>
        <% if @group.photo.attached? %>
          <%= image_tag @group.photo, class: "group-show-image" %>
        <% else %>
          <%= image_tag "placeholder-image.png", class: "group-show-image" %>
        <% end %>

        <h4 class="h4-index-groups h4-groups"><%= @group.name_group %></h4>
        <p><%= @group.description_group %></p>

        <div class="group-show-members-list">
          <% @group.users.each do |user| %>
            <% if user.photo.attached? %>
              <%= image_tag user.photo, class: "group-show-member-photo" %>
            <% else %>
              <%= image_tag "avatar/profile.anonymus.png", class: "group-show-member-photo" %>
            <% end %>
            <div class="group-show-member-name"><%= user.name %></div>
          <% end %>
        </div>

        <div class="group-show-actions">
          <%= link_to "Editar", edit_group_path, class: "btn btn-group-show-menu" %>
        <button
          data-controller="clipboard"
          data-clipboard-group-id="<%= @group.id %>"
          data-clipboard-token="<%= @group.last_token %>"
          data-action="click->clipboard#copyToClipboard"
          class="btn btn-group-show-menu"
        >
          Compartilhar
        </button>
          <%= link_to "Excluir", group_path(@group),
                      data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este grupo?" },
                      class: "btn btn-group-show-menu" %>
        </div>

        <div class="btn-group-show-expenses">
          <%= link_to "Adicionar Despesa", new_group_expense_path(@group), class: "btn btn-group-show-add-expense me-2" %>
          <%= link_to "Adicionar Pagamento", new_group_expense_payer_path(@group), class: "btn btn-group-show-add-payment" %>
        </div>
      </div>
    </div>

    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="group-show-panel" data-controller="modal">
        <div style="display: flex; align-items: center; width: 100%;" class="mb-1">
          <h4 style="flex-grow: 1;" class="h4-groups">Painel</h4>
          <button class="btn btn-group-show-details" data-action="click->modal#toggle">Ver Detalhes</button>
        </div>
        <div class="container my-1">
          <hr class="division-panel">
          <div style="display: flex; align-items: center; justify-content: space-around;">
            <div class="d-flex flex-column align-items-center">
              <p class="text-group-show">Suas dívidas</p>
              <p><strong>R<%= number_to_currency(@user_balance[:debit]) %></strong></p>
            </div>
            <span style="display: inline-block; width: 0.5px; background-color: black; height: 40px; margin: 0 15px;"></span>
            <div class="d-flex flex-column align-items-center">
              <p class="text-group-show">Devem a você</p>
              <p class="p-devemavoce"><strong>R<%= number_to_currency(@user_balance[:credit]) %></strong></p>
            </div>
          </div>
          <hr class="division-panel mb-1">
        </div>

        <!--- Modal de Dívidas (botão Ver detalhes) ---->
        <%= render "shared/modaldetails" %>

        <div class="group-show-expenses" data-controller="modal">
          <% if @expenses.any? %>
            <% grouped_expenses = @expenses.group_by { |expense| l(expense.date, format: :month_and_year) } %>

            <% grouped_expenses.each_with_index do |(month_year, expenses), index| %>
              <div class="header-with-button">
                <h4 class="h4-groups" style="flex-grow: 1;"><%= month_year %></h4>
                <% if index == 0 %>
                  <button class="btn btn-group-show-details" data-action="click->modal#toggle">Ver Pagamentos</button>
                <% end %>
              </div>

              <% expenses.each do |expense| %>
                <%= link_to group_expense_path(@group, expense), class: "expense-link" do %>
                  <div class="group-show-expense-item">
                    <div class="group-show-number-expense">
                      <%= l(expense.date, format: :day) %>
                    </div>
                    <div class="group-show-name-expense">
                      <%= expense.name_expense %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <p>Nenhuma despesa e pagamento adicionado ainda.</p>
          <% end %>

          <!---- Modal de Pagamentos (botão Ver pagamentos) ----->
          <%= render "shared/modalpayers" %>
        </div>

      <div class="group-show-observations">
        <h4 class="h4-groups">Quadro</h4>
        <%= simple_form_for @group, url: group_path(@group), method: :patch, html: { class: "form-horizontal" } do |form| %>
          <%= form.input :observation, as: :text, placeholder: "Use este quadro para adicionar informações importantes.", rows: 5, input_html: { class: "group-show-observation-area" }, label: false %>
          <%= form.button :submit, "SALVAR", class: "btn btn-group-show-observation" %>
        <% end %>
      </div>

      <div class="image-logo logo-footer">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
</div>
