<div id="balance-details-modal" class="modal hidden" data-modal-target="modal">
  <div class="modal-content">
    <span class="close-button" data-action="click->modal#close">&times;</span>
    <div class="container">
      <% if @expense_payers.present? %>

        <% grouped_expense_payers = @expense_payers.group_by { |expense_payer| l(expense_payer.date, format: :month_and_year) } %>
        <% current_user_name = current_user.try(:name) %>

        <% grouped_expense_payers.each_with_index do |(month_year, expense_payers), index| %>
          <h4><%= month_year %></h4>

          <% expense_payers.each do |expense_payer| %>
            <% payer_name = @users[expense_payer.user_id].try(:name) || "Desconhecido" %>
            <% receiver_name = @users[expense_payer.receiver_id].try(:name) || "Desconhecido" %>

            <% if current_user_name == receiver_name %>
              <div class="group-show-expense-payer-item">
                <div class="group-show-number-expense-payer">
                  <%= l(expense_payer.date, format: :day) %>
                </div>
                <div class="group-show-name-expense-payer">
                  <p>Você recebeu R<%= number_to_currency(expense_payer.paid_amount) %> de <%= payer_name %>.</p>
                </div>
              </div>
            <% end %>

            <% if current_user_name == payer_name %>
              <div class="group-show-expense-payer-item">
                <div class="group-show-number-expense-payer">
                  <%= l(expense_payer.date, format: :day) %>
                </div>
                <div class="group-show-name-expense-payer">
                  <p>Você pagou R<%= number_to_currency(expense_payer.paid_amount) %> para <%= receiver_name %>.</p>
                </div>
              </div>
            <% end %>

            <% if current_user_name != payer_name && current_user_name == receiver_name %>
              <div class="group-show-expense-payer-item">
                <div class="group-show-number-expense-payer">
                  <%= l(expense_payer.date, format: :day) %>
                </div>
                <div class="group-show-name-expense-payer">
                  <p><%= payer_name %> pagou R<%= number_to_currency(expense_payer.paid_amount) %> para você.</p>
                </div>
              </div>
            <% end %>

            <% if current_user_name != payer_name && current_user_name != receiver_name %>
              <div class="group-show-expense-payer-item">
                <div class="group-show-number-expense-payer">
                  <%= l(expense_payer.date, format: :day) %>
                </div>
                <div class="group-show-name-expense-payer">
                  <p><%= receiver_name %> recebeu R<%= number_to_currency(expense_payer.paid_amount) %> de <%= payer_name %>.</p>
                </div>
              </div>
              <div class="group-show-expense-payer-item">
                <div class="group-show-number-expense-payer">
                  <%= l(expense_payer.date, format: :day) %>
                </div>
                <div class="group-show-name-expense-payer">
                  <p><%= payer_name %> pagou R<%= number_to_currency(expense_payer.paid_amount) %> para <%= receiver_name %>.</p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p>Este grupo ainda não tem nenhum pagamento registrado.</p>
      <% end %>
    </div>
  </div>
</div>
