<div class="carousel body-home" data-controller="carousel">

  <div class="btn-navigation">
    <div class="button-group">
      <%= link_to "ACESSAR", new_user_session_path, class: "btn btn-acess" %>
      <%= link_to "CADASTRAR-SE", new_user_registration_path, class: "btn btn-register" %>
    </div>
  </div>

  <div class="bg-box">
    <div class="bg-carousel active"></div>
    <div class="bg-carousel"></div>
    <div class="bg-carousel"></div>
    <div class="bg-carousel"></div>
  </div>

  <div class="img-box">
    <div class="img-list">
      <div class="img-slider" data-carousel-target="imgSlider">

        <div class="img-item fruit active", style="--i:0;">
          <%= image_tag "home/ob1.png" %>
        </div>
        <div class="img-item fruit", style="--i:1;">
          <%= image_tag "home/ob2.png" %>
        </div>
        <div class="img-item fruit", style="--i:2;">
          <%= image_tag "home/ob3.png" %>
        </div>
        <div class="img-item fruit", style="--i:3;">
          <%= image_tag "home/ob4.png" %>
        </div>

        <div class="img-item", style="--i:0;">
          <%= image_tag "home/can1.png" %>
        </div>
        <div class="img-item", style="--i:1;">
          <%= image_tag "home/can2.png" %>
        </div>
        <div class="img-item", style="--i:2;">
          <%= image_tag "home/can3.png" %>
        </div>
        <div class="img-item", style="--i:3;">
          <%= image_tag "home/can4.png" %>
        </div>

      </div>
    </div>
  </div>

  <div class="info-box">
    <div class="info-slider">
      <div class="info-item">
        <h4>Organize suas finanças onde você estiver</h4>
        <p>O Conta Certa está contigo em qualquer lugar. Seja no restaurante ou em uma balada, nós vamos dividir sua conta!</p>
      </div>

      <div class="info-item">
        <h4>Lance as despesas do grupo no conforto de sua casa</h4>
        <p>Para você que prefere organizar as suas finanças sem notificações de aplicativos, nós também funcionamos no seu computador.</p>
      </div>

      <div class="info-item">
        <h4>Adicione novos membros a qualquer momento</h4>
        <p>Esqueceu de adicionar seu amigo no grupo? Não se preocupe; compartilhe o link com ele ou adicione manualmente.</p>
      </div>

      <div class="info-item">
        <h4>Veja todo o histórico de pagamento do grupo</h4>
        <p>Aqui você tem acesso a todo histórico financeiro do seu grupo. Está com dúvida se alguém te pagou? Basta consultar no Conta Certa.</p>
      </div>
    </div>
  </div>

  <div class="large-text">
    <h1>Conta Certa</h1>
  </div>

  <div class="navigation">
    <span class="prev-btn" data-action="carousel#prevBtn">
      <i class='bx bx-chevron-left'></i>
    </span>

    <span class="next-btn"data-action="carousel#nextBtn">
      <i class='bx bx-chevron-right' ></i>
    </span>
  </div>
</div>
