
<div class="carousel" data-controller="carousel">
  <div class="img-box">
    <div class="img-list">
      <div class="img-slider" data-carousel-target="imgSlider">

        <div class="img-item fruit", style="--i:0;">
          <%= image_tag "bg/cactus.png" %>
        </div>
        <div class="img-item fruit", style="--i:1;">
          <%= image_tag "bg/cactus.png" %>
        </div>
        <div class="img-item fruit", style="--i:2;">
          <%= image_tag "bg/cactus.png" %>
        </div>
        <div class="img-item fruit", style="--i:3;">
          <%= image_tag "bg/cactus.png" %>
        </div>

        <div class="img-item", style="--i:0;">
          <%= image_tag "logo.png" %>
        </div>
        <div class="img-item", style="--i:1;">
          <%= image_tag "BallAndCactus2.png" %>
        </div>
        <div class="img-item", style="--i:2;">
          <%= image_tag "logo.png" %>
        </div>
        <div class="img-item", style="--i:3;">
          <%= image_tag "BallAndCactus2.png" %>
        </div>

      </div>
    </div>
  </div>

  <div class="info-box">
    <div class="info-slider">
      <div class="info-item">
      <h4>Teste do Teste</h4>
      <p>Lorem ipsum dolor sit amet consectetur. Reiciendis consequuntur voluptas aliquid ex cumque placeat architecto neque saepe eligendi.</p>
      </div>
    </div>
  </div>

  <div class="navigation">
    <span class="prev-btn" data-action="carousel#prevBtn">
      <i class='bx bx-chevron-left'></i>
    </span>

    <span class="next-btn"data-action="carousel#nextBtn">
      <i class='bx bx-chevron-right' ></i>
    </span>
  </div>

</div>



<div class="button-group">
  <%= link_to "ACESSAR", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "CADASTRAR-SE", new_user_registration_path, class: "btn btn-outline-primary" %>
</div>
