<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="group-form-modal">
        <%= image_tag("icons/risk-red.png", :class => "bg-show-modal") %>

        <%= link_to root_path do %>
          <%= image_tag "icons/seta_buton.png", alt: "Login" %>
        <% end %>

        <h4 class="h4-add-expense">Adicionar despesa</h4>

        <%= simple_form_for([@group, @expense]) do |form| %>
          <div class="form-inputs">
            <%= form.input :name_expense, label: false, placeholder: "Nome da despesa", input_html: { class: "input-new-expense" } %>
            <%= form.input :description, as: :text, label: false, placeholder: "Insira uma descrição", input_html: { class: "input-new-expense" } %>
            <%= form.input :date, as: :string, label: false, input_html: { data: { controller: "datepicker", datepicker_target: "input" }, placeholder: "Selecione a data..." } %>

            <div class="group-pattern-lightblue">
              <div class="group-pattern-darkblue">
                <%= form.label "R$" %>
              </div>
              <div class="mb-0 w-100">
                <%= form.input :amount, step: 0.01, label: false, input_html: { class: "input-new-expense" } %>
              </div>
            </div>
          </div>

          <p class="p-expense">Quem participou dessa despesa:</p>
          <div class="form-inputs mt-0">
            <div class="user-share">
              <% @users.each do |user| %>
                <div class="group-pattern-lightblue px-2 d-flex justify-content-between align-items-center">
                  <%= label_tag "user_share_#{user.id}", user.name, class: "name-form-expenses" %>
                  <%= check_box_tag "expense_shares[#{user.id}][selected]", 1, false, id: "user_share_#{user.id}", class: "input-checkbox-form-expense" %>
                </div>
                <div class="pw-3">
                  <%= text_field_tag "expense_shares[#{user.id}][amount]", nil, class: "share-amount", placeholder: "R$0,00" %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-actions">
            <%= form.submit "SALVAR", class: "btn expense-button-new" %>
          </div>
        <% end %>

      </div>



      <div class="image-logo logo-footer">
        <%= image_tag("logo.png")%>
      </div>


    </div>
  </div>
</div>
