<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="group-expense-show-modal">

        
        <h4><%= @expense.name_expense %></h4>
        <h3 class="mt-3"><%= number_to_currency(@expense.amount, unit: "R$", separator: ",", delimiter: ".") %></h3>
        <p class="mt-3"><strong>Descrição:</strong> <%= @expense.description %></p>
        <p>Adicionado por <%= @expense.user.name %> em <%= l(@expense.date, format: :long) %></p>
       

        <hr class="division-line w-100">

        <% @expense.expense_shares.each do |share| %>
          <div class="expense-item">
          
           
            <% if share.user.photo.attached? %>
              <%= image_tag share.user.photo, class: "expense-image" %>
            <% else %>
              <%= image_tag "avatar/profile.anonymus.png", class: "expense-image" %>
            <% end %>
           
            <div class="group-details group-details-text">
              <p class="mb-0"><strong><%= share.user.name %></strong> pagou <%= number_to_currency(share.share_amount, unit: "R$", separator: ",", delimiter: ".") %></p>
            </div>
          </div>
        <% end %>






        <hr class="division-line w-100">



          
      
      </div>
    </div>
  </div>
</div>
