<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="group-expense-show-modal">
        <%= link_to @group do %>
          <%= image_tag "icons/seta_buton.png", alt: "Login" %>
        <% end %>

        <div class="expense-items-top">

          <p class="p-note"><%= @expense.name_expense %></p>
          <h3><%= number_to_currency(@expense.amount, unit: "R$", separator: ",", delimiter: ".") %></h3>
          <p><strong>Descrição:</strong> <%= @expense.description %></p>
          <p>dicionado por <%= @expense.user.name %> em <%= l(@expense.date, format: :long) %></p>
        </div>


        <hr class="division-line">

        <% @expense.expense_shares.each do |share| %>
          <div class="expense-item">
            <% if share.user.photo.attached? %>
              <%= image_tag share.user.photo, class: "expense-image" %>
            <% else %>
              <%= image_tag "avatar/profile.anonymus.png", class: "expense-image" %>
            <% end %>

            <div class="group-details group-details-text">
              <p class="mb-0"><strong><%= share.user.name %></strong>
                <% if share.share_amount.zero? %>
                  não pagou nada
                <% else %>
                  pagou <%= number_to_currency(share.share_amount, unit: "R$", separator: ",", delimiter: ".") %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>

        <hr class="division-line">


      </div>
      <div class="image-logo logo-footer">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
</div>
