<!DOCTYPE html>
<html>
<head>
  <title>Conta Certa</title>
  <meta name="google-site-verification" content="MCE0X80bA0McyIw4jdq0HmNBDNvx7CpnGKFL0N3dE1k" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/themes/material_blue.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <%= favicon_link_tag "logo/logo.toggle.png", type: "image/png" %>
</head>
<body>
  <%= render "shared/navbar" %>
  <div class="container">
    <div class="row justify-content-center">
      <% if controller.controller_name == "groups" && controller.action_name == "show" %>
        <!-- Aplica classes específicas para a página de groups -->
        <div class="col-12 col-lg-6 modal-index-wrapper">
      <% else %>
        <!-- Aplica classes padrão para outras páginas -->
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 modal-index-wrapper">
      <% end %>

      <% if notice.present? %>
        <div class="notice">
          <%= notice %>
        </div>
      <% end %>

      <% if flash[:token].present? %>
        <div class="alert-token">
          <%= flash[:token] %>
        </div>
      <% end %>
      <!-- Outros conteúdos -->
      </div>
    </div>
  </div>

  <%= yield %>
</body>
</html>
